@model GDEWebService.ViewModels.ProductModelView
<div class="row">

    <form action="/Home/addProduct" method="post">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body" style="justify-content:center; display:flex;">

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="QualificationShortName">Qualification Short Name</label>
                            <input type="text" class="form-control" name="QualificationShortName" id="QualificationShortName" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Short descriptive text</small>
                        </div>


                        <div class="form-group">
                            <label for="AssessmentIndentifier">Assessment Identifier</label>
                            <input type="text" class="form-control" name="AssessmentIndentifier" id="AssessmentIndentifier" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">This is the value that is displayed in RM Assessor applications. </small>
                        </div>



                        <div class="form-group">
                            <label for="AssessmentName">Assessment Name</label>
                            <input type="text" class="form-control" name="AssessmentName" id="AssessmentName" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Name for the assessment</small>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <div class="form-group">
                            <label for="AssessmentVersion">Assessment Version</label>
                            <input type="number" class="form-control" name="AssessmentVersion" id="AssessmentVersion" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label for="ComponentIdentifier">Component Identifier</label>
                            <input type="text" class="form-control" maxlength="10" name="ComponentIdentifier" id="ComponentIdentifier" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">This is the value that is displayed in RM Assessor applications.</small>
                        </div>

                        <div class="form-group">
                            <label for="ComponentName">Component Name</label>
                            <input type="text" class="form-control" name="ComponentName" id="ComponentName" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">This value is displayed alongside the Component Identifier in some RM Assessor reports.</small>
                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="form-group">
                            <label for="ComponentVersion">Component Version</label>
                            <input type="number" class="form-control" name="ComponentVersion" id="ComponentVersion" aria-describedby="emailHelp">
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px;">
            <div class="card">
                <div class="card-header">
                    <h3>Existing Components</h3>
                </div>
                <div id="componentHolder" class="card-body row">

                    @foreach (var product in Model.product)
                    {
                        <div  onclick="showActive(this)" class="card ComponentsCard col-lg-4" style="padding:10px;">
                            <div class="form-group">
                                <label id="AssessmentNameL">@product.AssessmentName</label>
                                <br />
                                <label id="ComponentNameL">@product.ComponentName</label>
                                <br />
                                <label id="ComponentIdentifierL">@product.ComponentIdentifier</label>

                                <label hidden id="ComponentVersionL">@product.ComponentVersion</label>
                                <label hidden id="QualificationShortNameL">@product.QualificationShortName</label>
                                <label hidden id="AssessmentIndentifierL">@product.AssessmentIndentifier</label>
                                <label hidden id="ComponentIdentifierL">@product.ComponentIdentifier</label>
                                <label hidden id="AssessmentVersionL">@product.AssessmentVersion</label>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:20px;">

            <div class="card">
                <div class="card-header"><h3>Exam Infomation</h3></div>
                <div class="card-body" style="justify-content:center; display:flex;">

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="StartDate">Start Date</label>
                            <input type="date" class="form-control" name="StartDate" id="StartDate" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Date Exam starts.</small>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="StartDatePart">Start Date Part</label>
                            <input type="text" class="form-control" name="StartDatePart" id="StartDatePart" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">A (am), P (pm), E (eve), D (all day)</small>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="EndDate">End Date</label>
                            <input type="date" class="form-control" name="EndDate" id="EndDate" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Date Exam Ends. Also used as part of the Candidate Level Exception process.</small>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:20px;">

            <div class="card">
                <div class="card-header"><h3>Question Paper Infomation</h3></div>
                <div class="card-body row" style="">

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="QuestionPaperIdentifier">Question Paper Identifier</label>
                            @*<input type="text" class="form-control" name="QuestionPaperIdentifier" id="QuestionPaperIdentifier" aria-describedby="emailHelp">*@
                            @Html.DropDownListFor(x => Model.SelectedCountryIso3, new SelectList(Model.QuestionsPaper, "Value", "Text"), htmlAttributes: new { @class = "form-control nameChange", id = "QuestionPaperIdentifier" })
                            <small id="emailHelp" class="form-text text-muted">Unique identifier across products and sessions for this question paper</small>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Barcode">Barcode</label>
                            <input type="text" class="form-control" name="Barcode" id="Barcode" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">The barcode that is printed on the question paper. </small>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="QuestionPaperPartName">Question Paper Part Name</label>
                            <select class="form-control nameChange" name="QuestionPaperPartName" id="QuestionPaperPartName">
                                <option value="A">1</option>
                                <option value="B">2</option>
                                <option value="C">3</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Used for Exam Products with more than one QP to differentiate the papers.</small>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="MarkingType">Marking Type</label>
                            <select class="form-control" name="MarkingType " id="MarkingType">
                                <option value="MFS">MFS</option>
                                <option value="MFI">MFI</option>
                                <option value="MFO">MFO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="NameQP">Name</label>
                            <input type="text" class="form-control" name="Name" id="Name" aria-describedby="emailHelp" readonly>
                            <small id="emailHelp" class="form-text text-muted">Friendly name that is displayed in RM Assessor applications to identify the Question Paper.</small>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="PageCount">Page Count</label>
                            <input type="text" class="form-control" name="PageCount" id="PageCount" aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="SyllabusCode">Syllabus Code</label>
                            <input type="text" class="form-control" name="SyllabusCode" id="SyllabusCode" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">It is returned as part of the Question Paper entity in return feeds.</small>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 20px;">
            @*<button type="submit" class="btn btn-primary">Create Component</button>*@
            <button type="button" onclick="createProduct()" class="btn btn-primary">Create Component</button>
        </div>
    </form>



</div>


<script>



</script>